extends layout
block content
    script(src="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css")
    script(src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js")
    script
        | $(document).ready(function() {
        |     $('#data_table').DataTable( {
        |       "order":[[1,'asc'],[0,'asc']],
        |       language:{
        |   "decimal":        "",
        |   "emptyTable":     "Нет данных в таблице",
        |   "info":           "Предоставляет с _START_ по _END_ из _TOTAL_ элементов",
        |   "infoEmpty":      "Нет данных",
        |   "infoFiltered":   "(Отфильтровано из _MAX_ всего элементов)",
        |   "infoPostFix":    "",
        |   "thousands":      ",",
        |   "lengthMenu":     "Показывать _MENU_ элементов",
        |   "loadingRecords": "Загрузка...",
        |   "processing":     "Обработка...",
        |   "search":         "Поиск:",
        |   "zeroRecords":    "Нет совпадений",
        |   "paginate": {
        |      "first":      "Первая",
        |      "last":       "Последняя",
        |      "next":       "Следующая",
        |      "previous":   "Предыдущая"
        |   },
        |   "aria": {
        |       "sortAscending":  ": нажмите для сортировки колонки по возрастанию",
        |       "sortDescending": ": нажмите для сортировки колонки по убыванию"
        |   }}
        |   } );
        | } );
    if session.logged
        button(onclick="window.location.href = '/quit';")  Выйти
    else
        button(onclick="window.location.href = '/login';")  Логин
    div.container
        div.row
            div.col
                table(class="table table-dark" id="data_table")
                    thead
                        tr
                            th(scope='col') №Модуля
                            th(scope='col') Состояние
                            th(scope='col') Адрес
                    tbody
                        each mod in modules_list
                            if modules[mod.id]
                                if modules[mod.id].errorType!==''
                                    tr.table-danger
                                        th(scope="row")=mod.id
                                        th(scope="row")="Авария:"+modules[mod.id].errorType
                                        th(scope="row")=mod.address
                                else
                                    tr
                                        th(scope="row")=mod.id
                                        th(scope="row") Норма
                                        th(scope="row")=mod.address
                            else
                                tr.table-danger
                                    th(scope="row")=mod.id
                                    th(scope="row") Авария: Нет связи
                                    th(scope="row")=mod.address
