extends layout
block content
    nav(class="navbar navbar-dark bg-dark")
        div(class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none")
            svg(class="bi me-2" width="40" height="32")
                svg(xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-diagram-3" viewBox="0 0 16 16")
                    path(fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zM8.5 5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1zM0 11.5A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z")
            svg(class="bi me-2" width="16" height="16")
            span(class="fs-4") Навигационная панель
        a(href="/" class="btn btn-secondary btn-lg")
            svg(class="bi me-2" width="16" height="16")
                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16")
                    path(fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z")
                    path(d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z")
            svg(class="bi me-2" width="16" height="16")
            | Состояние модулей
        a(href="/reports" class="btn btn-secondary btn-lg text-white")
            svg(class="bi me-2" width="16" height="16")
                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive" viewBox="0 0 16 16")
                    path(d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z")
            svg(class="bi me-2" width="16" height="16")
            | Отчёты
        a(href="/users" class="btn btn-primary btn-lg")
            svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16")
                path(d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z")
                path(d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z")
            |  Управление пользователями
        a(class="btn btn-light" href="/quit") Выход
    div.bg-dark
        div.row
            label.h2 Управление пользователями
        div.row
            //Выбор типа действия
            <!-- List group -->
            div.col-4
                div(class="list-group" id="myList" role="tablist")
                  a(class="list-group-item list-group-item-action active" data-toggle="list" href="#add" role="tab") Добавить
                  a(class="list-group-item list-group-item-action" data-toggle="list" href="#delete" role="tab") Удалить
                  a(class="list-group-item list-group-item-action" data-toggle="list" href="#change" role="tab") Изменить
                  //a(class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab") Settings
            div(class="tab-content col")
                div(class="tab-pane active" id="add" role="tabpanel")
                    form.bg-dark(action="/users/add" method="POST")
                        label.h3 Добавление пользователя
                        div(class="form-group flex-column")
                            label(class="label" for="login") Логин пользователя
                            input(type="text" class="form-control" id="login" name="login" placeholder="Логин" required)
                        div(class="form-group flex-column")
                            label(class="label" for="password") Пароль пользователя
                            input(type="text" class="form-control" id="password" name="password" placeholder="Пароль" required)
                        div(class="form-group flex-column")
                            label(class="label" for="login") Имя пользователя
                            input(type="text" class="form-control" id="user_name" name="user_name" placeholder="Имя пользователя" required)
                        div(class="form-group flex-column")
                            label(for="roleSelector") Выбор роли пользователя
                            select(class="form-control" name='role' id="roleSelector")
                                each role in roles
                                    option=role.name
                        div(align='right')
                            button(type="submit" class="btn btn-primary my-1") Внести изменения
                div(class="tab-pane" id="delete" role="tabpanel")
                    form.bg-dark(action="/users/delete" method="POST")
                        label.h3 Удаление пользователя
                        div.row
                            div.col
                                label(for="selectUser") Выбор пользователя
                                select(class="form-control" name='login' id="selectUser")
                                    each user in users
                                        if session.user.login !== user.log
                                            option=user.log
                                div(align='right')
                                    button(type="submit" class="btn btn-primary my-1") Внести изменения
                div(class="tab-pane" id="change" role="tabpanel")
                    form.bg-dark(action="/users/change" method="POST")
                        label.h3 Изменение данных пользователя
                        div.col
                            div(class="form-group flex-column")
                                label(for="selectUser") Выбор пользователя
                                select(class="form-control" name='login' id="selectUpdateUser")
                                    each user in users
                                        if session.user.login !== user.log
                                            option=user.log
                            div(class="form-group flex-column")
                                label(for="roleSelector") Выбор роли пользователя
                                select(class="form-control" name='role' id="roleSelectorUpdate")
                                    option Не менять
                                    each role in roles
                                        option=role.name
                            div(class="form-group flex-column")
                                label(class="label" for="password") Пароль пользователя
                                input(type="text" class="form-control" id="passwordUpdate" name="password" placeholder="Пароль")
                            div(class="form-group flex-column")
                                label(class="label" for="login") Имя пользователя
                                input(type="text" class="form-control" id="user_nameUpdate" name="user_name" placeholder="Имя пользователя")

                        div(align='right')
                            button(type="submit" class="btn btn-primary my-1") Внести изменения
    if session.UsersError
        script alert("#{session.UsersError}")
